<%= simple_form_for([@book, @review]) do |f| %>

   <div class="form-inputs">
      <%= f.text_field :description, label: "Ваш отзыв" %>
  </div>
  <p>
  <div class="form-actions">
    <%= f.button :submit, label: "Сохранить отзыв" %>
  </div>
  </p>
<% end %>